{{ partial "raw_header.html" . }}
{{ $baseurl := .Site.BaseURL }}

<body>
  <textarea id="source" style="display: none;">
{{ .RawContent }}
  </textarea>
  <script src="{{ .Site.BaseURL }}js/remark-latest.min.js">
  </script>
  <script>
    var slideshow = remark.create({
      navigation: {
        scroll: true,
        touch: true,
        click: false
      }
    });
    if (!window.TouchEvent){
    var slideArea = document.getElementsByClassName('remark-slides-area')[0]
      var threshold = window.innerWidth / 2;
      slideArea.onclick = function(event) {
        if (event.target.nodeName === 'A') {
          return;
        }
        else if (event.button === 0) {
          if ((event.x - threshold) > 0) {
            slideshow.gotoNextSlide();
          } else {
            slideshow.gotoPreviousSlide();
          }
        };
      }
    }
    </script>
  </body>
</html>
