{{ $baseurl := .Site.BaseURL }}

<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300|Ubuntu+Mono:400,700,400italic|Yanone+Kaffeesatz|Droid+Serif:400,700,400italic' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/remark.css" />
  </head>
  <body>
    <textarea id="source">
{{ .RawContent }}
    </textarea>
    <script src="{{ .Site.BaseURL }}js/remark-latest.min.js">
    </script>
    <script>
      var slideshow = remark.create();
    </script>
  </body>
</html>
