<a href="{{ .RelPermalink }}">
  <article>
    <header>
      <h2>{{ .Title }}</h2>
      <div class="post-meta">
        <div class="post-date">
          Posted on
          <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .Date.Format "Jan 2, 2006" }}
          </time>
        </div>
        {{ with .Params.tags }}
        <div class="post-tags">
          {{ range . }}
          <span class="post-tag small"><span>#{{ . }}</span></span>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </header>
    <div>
      {{ .Summary }}
    </div>
  </article>
</a>
