{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}
<article>
  <header>
    <h1 class="text-primary">{{ .Title }}</h1>
    <div class="post-meta clearfix">
      <div class="post-date pull-left">
        Posted on
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
          {{ .Date.Format "Jan 2, 2006" }}
        </time>
      </div>
      <div class="pull-right">
        {{ range .Params.tags }}
        <span class="post-tag small"><a href="{{ $baseurl }}/tags/{{ . | urlize }}">#{{ . }}</a></span>
        {{ end }}
      </div>
    </div>
    <div class="header-social-buttons">
      <!-- Twitter -->
      <a class="twitter-share-button" href="https://twitter.com/share" data-dnt="true" data-count="vertical" data-text="{{ .Description }}">Tweet</a>

      <!-- Hatebu -->
      <a class='hatena-bookmark-button' data-hatena-bookmark-layout="standard-noballoon" data-hatena-bookmark-lang="en" expr:data-hatena-bookmark-title="data:post.title" expr:href='"http://b.hatena.ne.jp/entry/" + data:post.canonicalUrl' title='このエントリーをはてなブックマークに追加'>
        <img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" />
      </a>
    </div>
  </header>
  <section>
    {{ .Content }}
  </section>
  <footer>
    <section class="social-buttons row">
      <!-- Twitter -->
      <div class="social-button">
        <ul class="twitter-share-button-with-balloon">
          <li>
            <a href="https://twitter.com/search?q={{ .Permalink }}" target="_blank">
              <span class="balloon-bottom">list</span>
            </a>
          </li>
          <li>
          <a class="twitter-share-button" href="https://twitter.com/share" data-dnt="true" data-count="vertical" data-text="{{ .Description }}">Tweet</a>
          </li>
        </ul>
      </div>

      <!-- Hatebu -->
      <div class="social-button">
        <a class='hatena-bookmark-button' data-hatena-bookmark-layout="vertical-balloon" data-hatena-bookmark-lang="en" expr:data-hatena-bookmark-title="data:post.title" expr:href='"http://b.hatena.ne.jp/entry/" + data:post.canonicalUrl' title='このエントリーをはてなブックマークに追加'>
          <img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" />
        </a>
      </div>

    </section>
    <ul class="pager">
      {{ if .Next }}
      <li class="previous"><a href="{{ .Next.RelPermalink }}"><span aria-hidden="true">&larr;</span> Older</a></li>
      {{ else }}
      <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
      {{ end }}
      {{ if .Prev }}
      <li class="next"><a href="{{ .Prev.RelPermalink }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
      {{ else }}
      <li class="next disabled"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
      {{ end }}
    </ul>
    <!-- Twitter -->
    <script>
      window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
    </script>

    <!-- Hatebu -->
    <script type='text/javascript' src='//b.st-hatena.com/js/bookmark_button.js' charset='utf-8' async='async'></script>
  </footer>
</article>

{{ partial "footer.html" . }}
