{{ partial "raw_header.html" . }}
<body id='body'>
  <header class="global-header">
    <section class="header-text">
      <span>
        <a href="{{ .Site.BaseURL }}"><img src="/images/logo.png"></a>
        <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
      </span>
      <div class="header-center">
        <span class="header-me">
          <a href="/page/me" class="btn-me">
            &nbsp;About me
          </a>
        </span>
        <span class="header-links">
          {{ partial "link.html" . }}
        </span>
      </div>
      {{ with .RSSLink }}
      <a href="{{ . }}" class="btn-header btn-subscribe">
        <i class="fa fa-rss"></i>
        &nbsp;Subscribe
      </a>
      {{ end }}
    </section>
  </header>
  <main>
