{{ partial "raw_header.html" . }}
<body id='body'>
  <header class="global-header">
    <section class="header-text">
      <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
      {{ with .Site.Params.subtitle }}
      <div class="tag-line">
        {{ . }}
      </div>
      {{ end }}
      <div class="header-center">
        <span class="header-me">
          <a href="/page/me" class="btn-me">
            &nbsp;About me
          </a>
        </span>
        <span class="header-links">
          {{ partial "link.html" . }}
        </span>
      </div>
      {{ if ne .URL "/" }}
      <a href="{{ .Site.BaseURL }}" class="btn-header btn-back hidden-xs">
        <i class="fa fa-angle-left"></i>
        &nbsp;Home
      </a>
      {{ end }}
      {{ with .RSSLink }}
      <a href="{{ . }}" class="btn-header btn-subscribe hidden-xs">
        <i class="fa fa-rss"></i>
        &nbsp;Subscribe
      </a>
      {{ end }}
    </section>
  </header>
  <main class="container">
