<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
  <link rel="alternate" hreflang="ja" href="{{ .Permalink }}">
  {{ with .Site.Params.themecolor }}
    <meta name="theme-color" content="{{ . }}" />
  {{ end }}

  {{ partial "twitter_card.html" . }}
  {{ partial "og.html" . }}

  {{ with .Description }}
    <meta name="description" content="{{ . }}" />
  {{ end }}
  <title>
    {{ if ne .URL "/" }}{{ .Title }} - {{ end }}{{ .Site.Title }}
  </title>

  <link rel="shortcut icon" href="/images/favicon.png" />
  <link rel="icon" href="/images/favicon.png" />
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
  {{ if eq .URL "/" }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}
  {{ if eq .Section "slide" }}
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300|Ubuntu+Mono:400,700,400italic|Yanone+Kaffeesatz|Droid+Serif:400,700,400italic' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="/css/remark.css" />
  {{ end }}
  <link rel="canonical" href="{{ .Permalink }}">

  <style type="text/css">
    {{ partial "main.css" . | print | safeCSS }}
  </style>
</head>
