<iframe
  class="iframe-slide"
  src="/slide{{ index .Params 0 }}"
  width="100%"
  style="border-width: 1px">
</iframe>
<script>
  (function () {
    function init () {
      var slides = document.getElementsByClassName('iframe-slide');
      for (var index = 0, len = slides.length; index < len; index++) {
        var slide = slides[index];
        var width = slide.offsetWidth;
        var height = width * 3 / 4;
        slide.height = height;
      }
    }
    init();
    window.addEventListener('resize', init);
  })()
</script>
<a href="/slide{{ index .Params 0 }}" target="_blank">Slide</a>
